body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #808080;
}

@media screen (max-width: 100%){}
.banner    {width: 100%;
}

header {
    color: ;
    padding: 10px o;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

nav ul {
    color: black;
    list-style: none;
    padding: 0;
}

nav ul li {
    color: black;
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    background: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

img {
    width: 30%;
}

.hardware1 {
    width: 30%;
}

button {
    background-color: azure;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: blue;
    color: black;
}

button:active {
    background-color: white;
    color: black;
}
